@media (max-width: 750px) {
    .services {
        display: block;
    }

    .services__card {
        width: 100%;
        margin: auto;
    }

    .services__card:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer {
        display: block;
    }

    .contact__us {
        margin: auto;
        width: 100%;
    }

    .contact__form {
        margin: auto;
        width: 100%;
        background-color: #090909;
    }

}